<div class="portfolio-modal modal fade" id="georep" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid">
          <div class="modal-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>